/*
 * HTML5 Boilerplate
 *
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

*{
    margin: 0;
    padding:0;
}

body {
    font-size:20px;
    color:#fff;
    font-family: 'Din', Arial, Helvetica, sans-serif;
}

p{
    padding-bottom:10px;
}


/* =============================================================================
   Links
   ========================================================================== */
a {-webkit-tap-highlight-color: rgba(0,0,0,0);}

a.whitelink { color: #fff; text-decoration:none; }
a.whitelink:visited { color: #fff; }
a.whitelink:hover { color: #fff; }
a.whitelink:focus { outline: thin dotted; }

a.bluelink { color: #1996ca; text-decoration:none; font-size:40px; }
a.bluelink:visited { color: #1996ca; }
a.bluelink:hover { color: #fff; }
a.bluelink:focus { outline: thin dotted; }

a.redlink { color: #ec008c; text-decoration:none; font-size:40px; }
a.redlink:visited { color: #ec008c; }
a.redlink:hover { color: #fff; }
a.redlink:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */

@font-face {
    font-family: 'Din';
    src: url('../font/DIN.ttf') format('truetype');
}
@font-face {
    font-family: 'Din Bold';
    src: url('../font/DIN Bold.ttf') format('truetype');
}
h1{
    font-family: 'Din', Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    font-size:40px;
    font-weight:normal;
}
h2{
    font-family: 'Din Bold', Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    font-size:22px;
}
.contentHeading{
    font-family: 'Din Bold', Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    font-size:22px;
}
strong{
    font-family: 'Din Bold', Arial, Helvetica, sans-serif;
}

.blue{
    color:#1996ca;
}
.red{
/* color:#ed1e24;   */
   color:#ec008c;
}

/* =============================================================================
   Scroll bar styles
   ========================================================================== */


::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 10px 0 6px rgba(0,0,0,0.3);
    border-radius: 0px;
    background-color: #a7a7a7;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
    -webkit-box-shadow: inset 10px 0 2px #535353;
    background-color: #535353;
}


/* ==|== primary styles =====================================================
   ========================================================================== */

.wrapper{
    width: 1067px;
    height: 592px;
    position: absolute;
    overflow-y: hidden;
}

/*** LOADING ***/
#loadpage{
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}
.loading{
    padding:200px 0 0 500px;
}
/*** LOADING END ***/

/*** SPLASH  ***/
#splashpage, #showreelpage{
    background: url('../../images/brave-split-bg.png') top left repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    /*vertical-align:*/
}
header.splash{
    width:100%;
    float:left;
}
header.splash .left{
    float:left;
}
header.splash .right{
    float:right;
    padding:20px;
}
.splash-main{
    float:left;
    margin: 60px 0 50px;
}
.splash-main .bluebutton{
    width:320px;
    background-color:#0099ff;
    padding:12px 40px;
    border:none;
    font-size:20px;
    margin:0 auto;
}
.splash-bg{
    width:auto;
    background: transparent url('../../images/splash-line-bg.jpg') top left repeat;
    padding:40px 170px;
}
p.middle{
    text-align:center;
}
p.blue{
    color:#0099ff;
    font-family: 'Din Bold', Arial, Helvetica, sans-serif;
    padding:10px 0 20px;
}
.splash{
    text-align:center;
    font-size:18px;
    float:left;
    width:100%;
    margin-top:50px;
}
.tceo{
    width:290px;
    margin: 0 auto;
    padding:12px 40px;
    background: transparent url('../../images/splash-line-bg.jpg') top left repeat;
}

/*** SPLASH - END  ***/


/*** CONTENT PAGE ***/
#contentpage{
    position: absolute;
    top: 0;
    left: 0;
}
#contentpage header{
    position:absolute;
    top:0;
    left:0;
}
.braveSection{
    width:50%;
    background: url('../../images/brave-split-bg.png') top left repeat-x;
    position: relative;
    float:left;
    height:100%;
}

.braveQuote {
    position:absolute;
    top:50px;
    left:40px;
}
.braveQuote2{
    position:absolute;
    bottom: 40px;
    left:40px;
}

.braveText {
    margin: 0 auto;
    border: 0 none;
    padding: 0 0 0 30px;
    position: absolute;
    top: 250px;
    left: 0;
    width: auto;
    height: 87px;
    line-height: 87px;
    background:  transparent url(../../images/arrow-brave.png) scroll 0 0 no-repeat;
    color: #1996ca;
    text-decoration:none;
    font-size:40px;
}

.braveLink {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.braveLink a {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.braveLink span{
    padding-left:5px;
}
.braveQuote .blueLine {
    position: absolute;
    top: 12px;
    left: 112px;
    width: 230px;
    height: 162px;
    background: transparent url(../../images/blue-quote-line.png) 0px 0px no-repeat;
}

.braveQuote2 .blueLine {
    position: absolute;
    bottom: 11px;
    left: 112px;
    width: 230px;
    height: 162px;
    background: transparent url(../../images/blue-quote-line2.png) 0px 0px no-repeat;
}
.braveQuote2 h2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.blueQuoteText {
    background:url('../../images/blue-overlay.png') top left repeat;
    padding:10px 20px;
    border-bottom:3px solid #3aaae1;
    width:200px;
    font-size:18px;
    color:#3aaae1;
}
.braveQuote2 .blueQuoteText {
    margin-bottom: 28px;
}

.curiousSection{
    width:50%;
    background: url('../../images/curious-split-bg.png') top left repeat-x;
    position: relative;
    float:left;
    height:100%;
}

.curiousQuote{
    position:absolute;
    top:50px;
    right:40px;
}
.curiousQuote2{
    position:absolute;
    bottom: 40px;
    right:40px;
}

.curiousText {
    margin: 0 auto;
    border: 0 none;
    padding: 0 30px 0 0;
    position: absolute;
    top: 250px;
    right: 0;
    width: auto;
    height: 87px;
    line-height: 87px;
    background:  transparent url(../../images/arrow-curious.png) scroll 100% 50% no-repeat;
    color: #ec008c;
    text-decoration: none;
    font-size: 40px;
}

.curiousQuote .redLine {
    position: absolute;
    top: 14px;
    right: 120px;
    width: 215px;
    height: 166px;
    background: transparent url(../../images/red-quote-line.png) 0px 0px no-repeat;
}

.curiousQuote2 .redLine {
    position: absolute;
    bottom: 10px;
    right: 120px;
    width: 215px;
    height: 166px;
    background: transparent url(../../images/red-quote-line2.png) 0px 0px no-repeat;
}
.curiousQuote2 h2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.curiousLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.curiousLink a {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.curiousLink span{
    padding-right:5px;
}
.redQuoteText{
    background:url('../../images/red-overlay.png') top left repeat;
    padding:10px 20px;
    border-bottom:3px solid #e98269;
    width:200px;
    font-size:18px;
    color:#ed1e24;
}
.curiousQuote2 .redQuoteText {
    margin-bottom: 28px;
}

.theBrain{
    position:absolute;
    top:120px;
    left:400px;
}
#contentpage .homeButton{
    position:absolute;
    top:505px;
    left:509px;
}
#contentpage footer{
    position:absolute;
    top:558px;
    left:0;
}
/*** CONTENT PAGE END ***/

/*** BRAVE ***/
#bravepage{
    background: url('../../images/brave-split-bg.png') top left repeat-x;
    position:relative;
    overflow:hidden;
}
#bravepage header{
    width:100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height:34px;
    background: url('../../images/brave-lines-top.png') top left repeat-x;
}
#bravepage .homeButton{
    position:absolute;
    top:500px;
    right:80px;
}
#bravepage footer{
    width:100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height:7px;
    /* background: url('../../images/brave-lines-top.png') bottom left repeat-x; */
}


/** BRAVE END ***/

/*** CURIOUS ***/
#curiouspage{
    background: url('../../images/curious-split-bg.png') top left repeat-x;
    position:relative;
}
#curiouspage header{
    position: absolute;
    top: 0px;
    left: 0px;
    height:34px;
    background: url('../../images/curious-lines-top.png') top left repeat-x;
}

#curiouspage .homeButton{
    position:absolute;
    top:500px;
    left:80px;
}
#curiouspage footer{
    /* background: url('../../images/curious-lines-bottom.png') bottom left repeat-x;
    height:7px;*/
}

/** CURIOUS END ***/